name: command-line-app
on:
  push:
    paths:
      - 'go/command-line-app/**'
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Lint command-line-app
        uses: gardenbed/actions/go-lint@main
        with:
          path: ./go/command-line-app
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Test command-line-app
        uses: gardenbed/actions/go-cover@main
        with:
          path: ./go/command-line-app
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
      - name: Build command-line-app
        uses: ./.github/actions/basil-build
        with:
          path: ./go/command-line-app
