name: http-service
on:
  push:
    paths:
      - 'go/http-service/**'
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Lint http-service
        uses: gardenbed/actions/go-lint@main
        with:
          path: ./go/http-service
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Test http-service
        uses: gardenbed/actions/go-cover@main
        with:
          path: ./go/http-service
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
      - name: Build http-service
        uses: ./.github/actions/basil-build
        with:
          path: ./go/http-service
