name: library
on:
  push:
    paths:
      - 'go/library/**'
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Lint library
        uses: gardenbed/actions/go-lint@main
        with:
          path: ./go/library
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Test library
        uses: gardenbed/actions/go-cover@main
        with:
          path: ./go/library
